.fav-button-background{
  width: 25px;
  height: 22px;
  background-image: url(./../assets/update/like-button.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;

  position: fixed;
  top: 133px;
  left: 174px;

  user-select: none;
}

.fav-button-background:hover {
  transform: scale(0.95);
}

.fav-button-background.liked {
  background-image: url(./../assets/update/liked-button.png);
}
