.music-info {
  width: 131px;
  height: 56px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #6e1717;
  border-radius: 10px;

  position: fixed;
  top: 54px;
  left: 212px;

  display: flex;
  flex-direction: row;
  justify-content:start;
  align-items: center;
}

.text{
  font-family: "Press Start 2P", cursive;
  color: #d9d9d9;
  margin-left: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}
.title{
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}
.artist{
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}
