.prev-button{
  width: 31px;
  height: 19px;
  background-image: url(./../assets/update/prev-button-rf.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;

  position: fixed;
  top: 134px;
  left: 215px;
  transition: transform 0.2s ease;
}

.prev-button.pressed {
  transform: scale(0.95);
}