.stop-play-button{
  width: 44px;
  height: 43px;
  background-image: url(./../assets/stop-play-button.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;

  position: absolute;
  top: 98px;
  left: 110px;
  transition: transform 0.2s ease;
}

.stop-play-button.pressed {
  transform: scale(0.95);
}

.icon {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.icon.stopped{
  background-image: url(./../assets/stop-button.png);
}

.icon.playing{
  background-image: url(./../assets/play-button.png);
}