* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.widget {
  -webkit-app-region: drag;
  width: 420px;
  height: 221px;
  background-color: transparent;
  overflow: hidden;

}

.widget-content {
  /*Width and height updated 2.0*/
  position:absolute;
  bottom: 13px;
  left: 0;
  width: 420px;
  height: 126px;
  background-color: #d9d9d9;
  border-radius: 20px;
  overflow:visible;
}
