* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.widget {
  -webkit-app-region: drag;
  width: 265px;
  height: 170px;
  background-image: url(./assets/background-screen\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
